**/keys.js
**/bundle.js
**/bundle.js.map
**/canvas.js
**/canvas.js.map
public/app/app.js

.expo/
/node_modules
client/node_modules

**/npm-debug.*

.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
