.demo {
  width: 360px;
  height: 722px;
  margin: 20px auto;
  position: relative;
}

.demo iframe {
  position: absolute;
  bottom: 25px;
  left: 25px;
  height: 89.8%;
  width: 86%;
  overflow: hidden;
}

.notice {
  padding: 1.5em;
  text-align: center;
  background-color: white;
  border: black solid 2px;
  width: 100%;
}

.notice h1,
.notice h2 {
  color: black;
}

.notice a,
.notice a:hover {
  color: initial;
  text-decoration: underline;
}
